*{
    background: #34495e;
    color: #fff;
}


#gameContainer{
    text-align: center;
    font-family: 'comic sans', sans-serif;
}


.cell{
    width: 100px;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s all;
    border: 2px black solid;
}

.cell:hover{
    background: #2c3e50  ;
}

#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 305px;
    margin: auto;
    border: 8px black solid;
}

#restart-Btn{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #2c3e50;
    color: #fff;
    transition: 0.3s ease;
    border: #2c3e50 1px solid;
}

#restart-Btn:hover{
    background: #27ae60;
    outline: none;
}
